.site-button {
  display: inline-flex;
  flex-direction: column;
  pointer-events: auto;
  height: 12em;
  width: auto;
  border: 1em solid transparent;
  transition: all 0.2s;
  border-radius: 1.5em;

  @media (hover: hover) {
    &:hover {
      border: 1em solid white;
    }
  }

  .pergament-container {

    .pergament {
      background-image: url("../img/pic/pergament.png");
      padding: 0 7em 0 4em;
      display: flex;
      align-items: center;
      background-size: 100% 100%;
      height: 8em;
      background-color: rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 3em rgba(0, 0, 0, 0.8);

      .site-icon {
        display: inline-block;
        width: 8em;
        height: 8em;
        margin-right: 0.5em;
      }

      .site-title {
        display: inline-block;
        font-size: 4em;
        font-family: "Alice", serif;
        font-weight: 800;
        color: #333333;
        white-space: nowrap;
        min-width: 6em;
      }
    }
  }

  .creature-icon {
    display: inline-block;
    z-index: 50;
    width: 6em;
    height: 6em;
    background-color: #efcc90;
    border-radius: 50%;
    border: 0.3em solid $colorBlackish;
  }

  .meta-container {
    margin-top: 4em;
    margin-bottom: -11em;
    display: inline-block;
    width: 100%;
    padding: 0 4em;
    text-align: center;

    .meta {
      width: auto;
      border-radius: 1em;
      background-color: #2a0a0a;
      height: 7em;
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
      gap: 1em;
      padding: 0 3em;

      .playable {
        margin-top: 1em;
        top: 0.8em;
        display: inline-block;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 0.5em solid black;
        margin-bottom: -0.5em;

        &._minor {
          background-color: #54c750;
        }

        &._major {
          background-color: #ff9100;
        }

        &._greater {
          background-color: #dd00ff;
        }

        &._gold_ring {
          width: 3.5em;
          height: 3.5em;
          border-radius: 50%;
          border: 0.5em solid black;
          box-shadow: 0 0 0 0.8em #ffdd00,
          0 0 0 1em black;
          margin: 0.5em 1.5em;
        }

        &._information {
          margin-top: 1em;
          border: none;
          background-color: transparent;
          border-radius: 0;
          background-image: url("../img/site/information.svg");
          background-size: 7em;
          width: 5em;
          height: 5em;
          margin-bottom: -1em
        }

        &._palantiri {
        }

        &._scrol_of_isildur {
        }
      }
    }
  }
}
