//HEADER
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  background-image: url("../img/map/old-map_sw.jpg");
  background-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
  }

  .line-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid $colorCian;
  }

  .line-2 {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    border-top: 5px solid #151515;
  }

  .header-content {
    position: relative;
    top: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    background-image: url("../img/map/old-map_sw.jpg");
    background-size: 150%;
    padding: 10px 20px;
    box-shadow: 0 0 0 2px $colorBlackish,
    0 0 0 5px $colorCian,
    0 0 0 9px $colorBlackish,
    4px 4px 9px 5px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;

    &:before {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.8;
      position: absolute;
      background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
    }

  }

  .main-menu-button {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 20px;
    padding: 1em;
    cursor: pointer;
    transform: translateY(50%);

    .menu-circle {
      width: 3em;
      height: 3em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      background-color: #151515;
      border-radius: 50%;
      gap: 0.4em;
      transition: all 0.2s;

      .line {
        display: inline-block;
        height: 0.2em;
        background-color: $colorCian;
        border-radius: 0.1em;
        width: 60%;
        transition: all 0.2s;
      }
    }

    @media (hover: hover) {
      &:hover {
        .menu-circle {
          box-shadow: 0 0 0 2px $colorBlackish,
          0 0 0 5px lighten($colorCian, 30%),
          0 0 0 9px $colorBlackish;

          .line {
            background-color: lighten($colorCian, 30%),
          }
        }
      }
    }
  }
}


.route {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  .journey-region {
    .journey-region-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    }
  }

  .journey-site {
    .journey-site-icon {
      width: 60px;
      height: 60px;
    }

  }

  .journey-hazard {
    button.journey-hazard-icon {
      width: 65px;
      height: 65px;
      background-image: url("../img/region/playableHazard.svg");
      transition: all 0.2s;
      border-radius: 10px;
      border: 2px solid transparent;

      @media (hover: hover) {
        &:hover {
          border: 2px solid white;
        }
      }
    }
  }
}

//FOOTER
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footerHeight;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  padding: 3em;
  padding-left: 450px;
  background-image: url("../img/map/old-map_sw.jpg");
  background-size: 150%;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
  }

  .line-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 6px solid #62a7c2;
  }

  .line-2 {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    border-top: 5px solid #151515;
  }

  .footer-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .footer-route-containter {
      position: absolute;
      bottom: 170px;
      left: 50%;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%);
      background-image: url("../img/map/old-map_sw.jpg");
      background-size: 150%;
      padding: 10px 20px;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      overflow: hidden;
      max-width: 30vw;

      &:before {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        position: absolute;
        background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
      }
    }

    .middle-content {
      flex-grow: 1;
      flex-shrink: 1;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      max-width: 30vw;

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .epic-button {
          width: 300px;
          max-width: 15vw;
          display: inline-block;
          position: relative;
          background-image: url("../img/map/old-map_sw.jpg");
          background-size: 500%;
          font-size: 15px;
          border-radius: 0.5em;
          overflow: hidden;
          box-shadow: 0 0 50px rgba(0, 0, 0, 1);
          border: 2px solid #e7d9ba;
          height: 70px;
          cursor: pointer;
          flex-shrink: 1;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.85;
            background: linear-gradient(0deg, rgb(250, 211, 170) 0%, rgb(222, 197, 176) 100%);
          }

          @media (hover: hover) {
            &:hover {
              .button-text {
                color: white;
              }
            }
          }

          .button-text {
            position: relative;
            color: #381d1d;
            font-weight: 800;
            border-radius: 0.5em;
            font-family: "Alice", serif;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
          }
        }
      }

      .card-items {
        margin-top: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 5px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 0 4em;

        &._journey {
          position: absolute;
        }
      }
    }

    .placeholder {
      width: 400px;
      margin: 20px;
      max-width: 30vw;
    }

    .meccg-card-image {
      position: relative;
      border-radius: 6%;
      width: 400px;
      max-width: 30vw;
      background-color: grey;
      background-size: cover;
      display: inline-block;
      margin: 20px;
      cursor: pointer;
      transition: all 0.2s;
      flex-shrink: 0;

      @media (hover: hover) {
        &:hover {
          border: 1px solid white;
        }
      }

      @extend .fade-in;
      box-shadow: 0 0 50px rgb(0, 0, 0);
      border: 1px solid #3f3f3f;

      &._queer {
        transform: rotate(-90deg);
        width: 280px;
        left: 60px !important;
        bottom: -60px !important;
        margin-right: 140px;
      }

      .meccg-card-inner {
        width: 100%;
        padding-bottom: 135%;
      }
    }
  }
}
