//HEADER
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  padding-left: 450px;
  background-image: url("../img/map/old-map_sw.jpg");
  background-size: 150%;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
  }

  .line-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid $colorCian;
  }

  .line-2 {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    border-top: 5px solid #151515;
  }

  .header-content {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 30px;

    .journey-region {
      .journey-region-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 0 50px rgba(0, 0, 0, 1);
      }
    }

    .journey-site {
      .journey-site-icon {
        width: 60px;
        height: 60px;
      }
    }

  }
}


//FOOTER
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footerHeight;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  padding: 3em;
  padding-left: 450px;
  background-image: url("../img/map/old-map_sw.jpg");
  background-size: 150%;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
  }

  .line-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 6px solid #62a7c2;
  }

  .line-2 {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    border-top: 5px solid #151515;
  }

  .footer-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .middle-content {
      text-align: left;
      flex-grow: 1;
      height: 100%;
      padding: 20px;
      flex-shrink: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      justify-content: center;
    }

    .card-items {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      font-size: 4px;
      align-items: flex-start;
      align-content: flex-start;
      gap: 0 4em;

      &._journey {
        position: absolute;
      }
    }

    .option-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }

    .placeholder {
      width: 400px;
      flex-shrink: 1;
      margin: 20px;
    }

    .meccg-card-image {
      position: relative;
      border-radius: 6%;
      width: 400px;
      background-color: grey;
      background-size: cover;
      display: inline-block;
      margin: 20px;
      cursor: pointer;
      transition: all 0.2s;
      flex-shrink: 1;

      &:hover {
        border: 4px solid white;
      }

      @extend .fade-in;
      box-shadow: 0 0 50px rgb(0, 0, 0);
      border: 1px solid #3f3f3f;

      &._queer {
        transform: rotate(-90deg);
        width: 280px;
        left: 60px !important;
        bottom: -60px !important;
        margin-right: 140px;
      }

      .meccg-card-inner {
        width: 100%;
        padding-bottom: 135%;
      }
    }
  }

  .epic-button {
    display: inline-block;
    position: relative;
    background-image: url("../img/map/old-map_sw.jpg");
    background-size: 500%;
    font-size: 18px;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    border: 2px solid #e7d9ba;
    height: 70px;
    width: 20em;
    cursor: pointer;
    flex-shrink: 1;
    max-width: 20vw;


    &:hover {
      .button-text {
        color: white;
      }
    }

    .button-color {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.85;
      background: linear-gradient(0deg, rgb(250, 211, 170) 0%, rgb(222, 197, 176) 100%);
    }

    .button-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #381d1d;
      font-weight: 800;
      border-radius: 0.5em;
      font-family: "Alice", serif;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
  }
}
