//HEADER
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  background-image: url("../img/map/old-map_sw.jpg");
  background-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
  }

  .line-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid $colorCian;
  }

  .line-2 {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    border-top: 5px solid #151515;
  }

  .header-content {
    position: relative;
    top: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    background-image: url("../img/map/old-map_sw.jpg");
    background-size: 150%;
    padding: 10px 20px;
    box-shadow: 0 0 0 2px $colorBlackish,
    0 0 0 5px $colorCian,
    0 0 0 9px $colorBlackish,
    4px 4px 9px 5px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;

    &:before {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.8;
      position: absolute;
      background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
    }

  }

  .main-menu-button {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 15px;
    padding: 1em;
    cursor: pointer;
    transform: translateY(50%);

    .menu-circle {
      width: 3em;
      height: 3em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      background-color: #151515;
      border-radius: 50%;
      gap: 0.4em;
      transition: all 0.2s;

      .line {
        display: inline-block;
        height: 0.2em;
        background-color: $colorCian;
        border-radius: 0.1em;
        width: 60%;
        transition: all 0.2s;
      }
    }

    @media (hover: hover) {
      &:hover {
        .menu-circle {
          box-shadow: 0 0 0 2px $colorBlackish,
          0 0 0 5px lighten($colorCian, 30%),
          0 0 0 9px $colorBlackish;

          .line {
            background-color: lighten($colorCian, 30%),
          }
        }
      }
    }
  }

  .underdeep-toggle-button {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 70px;
    padding: 1em;
    cursor: pointer;
    transform: translateY(50%);

    &._active {
      .menu-circle {
        transform: rotate3d(1, 0, 0, 180deg)
      }
    }

    .menu-circle {
      width: 3em;
      height: 3em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      background-color: #151515;
      border-radius: 50%;
      gap: 0.4em;
      transition: all 0.4s;
      background-image: url("../img/region/underdeep.svg");
    }

    @media (hover: hover) {
      &:hover {
        .menu-circle {
          box-shadow: 0 0 0 2px $colorBlackish,
          0 0 0 5px lighten($colorCian, 30%),
          0 0 0 9px $colorBlackish;

          .line {
            background-color: lighten($colorCian, 30%),
          }
        }
      }
    }
  }

  .turn-toggle-button {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    left: 15px;
    padding: 1em;
    cursor: pointer;
    transform: translateY(50%);
    display: flex;
    align-items: center;

    &._active {
      .menu-circle {
        transform: rotate(180deg)
      }
    }

    .menu-label {
      width: auto;
      height: 1em;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      background-color: #151515;
      border-radius: 20px;
      color: $colorCian;
      padding: 0 0.4em;
      font-size: 1.5em;
      padding-left: 0.8em;
      font-weight: 400;
      transition: all 0.2s;
      text-transform: uppercase;

      b {
        font-weight: 800;
        color: #c8dbfc;
      }
    }

    .menu-circle {
      transform: rotate(0deg);
      width: 3em;
      height: 3em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      background-color: #151515;
      border-radius: 50%;
      gap: 0.4em;
      transition: all 0.2s;
      background-image: url("../img/region/turn.svg");
    }

    @media (hover: hover) {
      &:hover {
        .menu-circle, .menu-label {
          box-shadow: 0 0 0 2px $colorBlackish,
          0 0 0 5px lighten($colorCian, 30%),
          0 0 0 9px $colorBlackish;

          .line {
            background-color: lighten($colorCian, 30%),
          }
        }
      }
    }
  }
}


.route {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  font-size: 16px;
  @media only screen and (max-width: $responsiveWidthSmall) {
    font-size: 13px;
  }
  @media only screen and (max-width: $responsiveWidthMegaSmall) {
    font-size: 10px;
  }

  .journey-icon-container {
    position: relative;
    width: 2.5em;

    .spacing {
      width: 100%;
      padding-top: 100%;
    }

    .journey-icon {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: 50%;


      &._region {
        box-shadow: 0 0 50px rgba(0, 0, 0, 1);
        border: 3px solid white;
      }

      &._site {
        transform: scale(130%);
      }

      &._hazard {
        transform: scale(130%);
        background-image: url("../img/region/playableHazard.svg");
        transition: all 0.2s;
        border-radius: 10px;
        border: 2px solid transparent;

        @media (hover: hover) {
          &:hover {
            border: 2px solid white;
          }
        }
      }
    }

  }

  .journey-site {


  }

  .journey-hazard {
    button.journey-hazard-icon {

    }
  }
}

//FOOTER
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footerHeight;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  padding: 3em;
  padding-left: 450px;
  background-image: url("../img/map/old-map_sw.jpg");
  background-size: 150%;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
  }

  .line-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 6px solid #62a7c2;
  }

  .line-2 {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    border-top: 5px solid #151515;
  }

  .footer-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100vw;

    .footer-route-containter {
      position: absolute;
      bottom: 170px;
      left: 50%;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%);
      background-image: url("../img/map/old-map_sw.jpg");
      background-size: 150%;
      padding: 10px 15px;
      box-shadow: 0 0 0 2px $colorBlackish,
      0 0 0 5px $colorCian,
      0 0 0 9px $colorBlackish,
      4px 4px 9px 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      overflow: hidden;
      max-width: 30vw;

      &:before {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        position: absolute;
        background: linear-gradient(0deg, rgb(0, 7, 10) 0%, rgb(30, 49, 68) 100%);
      }
    }

    .middle-content {
      flex-grow: 1;
      flex-shrink: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
      width: 30vw;
      flex-wrap: wrap;
      font-size: 16px;

      @media only screen and (max-width: $responsiveWidthSmall) {
        font-size: 13px;
      }
      @media only screen and (max-width: $responsiveWidthMegaSmall) {
        font-size: 10px;
      }

      .buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 30vw;
        gap: 0.6em;
        width: 100%;
        padding-top: 1.2em;

        .epic-button {
          width: 10em;
          display: inline-block;
          position: relative;
          white-space: normal;
          background-image: url("../img/map/old-map_sw.jpg");
          background-size: 500%;
          border-radius: 0.5em;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 1);
          border: 2px solid #e7d9ba;
          cursor: pointer;
          flex-shrink: 1;
          padding: 1em 0.8em;
          max-width: 100%;
          min-width: 12em;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.85;
            background: linear-gradient(0deg, rgb(250, 211, 170) 0%, rgb(222, 197, 176) 100%);
          }

          @media (hover: hover) {
            &:hover {
              .button-text {
                color: white;
              }
            }
          }

          .button-text {
            position: relative;
            color: #381d1d;
            font-weight: 800;
            border-radius: 0.5em;
            font-family: "Alice", serif;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
          }
        }
      }

      .card-items {
        padding-left: 2vw;
        padding-top: 6em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        gap: 0 4em;
        flex-grow: 1;
        width: 100%;

        &._region-sites {
          font-size: 4px;
        }
      }
    }


    .card-container, .placeholder {
      width: 400px;
      max-width: 30vw;
      flex-shrink: 0;

      &._left {
        padding-left: 1vw;
        padding-bottom: 1vw;
      }

      &._right {
        padding-right: 1vw;
        padding-bottom: 1vw;
      }

      .meccg-card-image {
        position: relative;
        border-radius: 6%;
        width: 100%;
        max-width: 30vw;
        background-color: grey;
        background-size: cover;
        display: inline-block;
        cursor: pointer;
        transition: all 0.2s;
        @extend .fade-in;
        box-shadow: 0 0 50px rgb(0, 0, 0);
        border: 1px solid #3f3f3f;

        @media (hover: hover) {
          &:hover {
            border-color: grey;
          }
        }

        &._queer {
          transform: rotate(-90deg);
          width: 280px;
          max-width: 25vw;
          left: 60px !important;
          bottom: -60px !important;
          margin-right: 140px;
        }

        .meccg-card-inner {
          width: 100%;
          padding-bottom: 140%;
        }
      }
    }
  }
}
