$colorBeigeDark: #4e4025;
$colorBeige: #deb56f;

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.meccg-border {
  box-shadow:
  0 0 0 5px black,
  0 0 0 8px rgba(164, 74, 151, 0.49),
  0 0 0 15px black;
  border-radius: 0.5px;
}

.leaflet-map {
  position: fixed;
  top: $headerHeight;
  right: 0;
  bottom: $footerHeight;
  height: auto;
  width: auto;
  left: 0;
  background-image: url("../img/map/wood.jpg");
  background-size: cover;
  background-position: center;

  .leaflet-bottom{
    display: none;
  }

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    position: absolute;
    background: linear-gradient(0deg, rgb(10, 3, 0) 0%, rgb(24, 7, 0) 100%);
  }
}

.region-object {
  pointer-events: none;

  .region-title-object {
    height: 100%;
    width: 100%;
    font-size: 100px;
    text-align: center;

    .title-container {
      display: block;
      width: 100%;
      height: 120px;
      position: relative;

      .title {
        font-family: "Alice", serif;
        display: inline-block;
        font-weight: 500;
        color: $colorBeige;
        position: absolute;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &._2 {
          color: $colorBeigeDark;
          -webkit-text-stroke: 8px $colorBeigeDark;
          text-shadow: -8px 0 $colorBeigeDark, 0 8px $colorBeigeDark, 8px 0 $colorBeigeDark, 0 -8px $colorBeigeDark, 5px 5px 10px #000;
        }
      }
    }

    .icon {
      display: inline-block;
      width: 100px;
      height: 100px;
      border: 5px solid white;
      background-color: white;
      border-radius: 50%;
    }
  }
}

.site-object {
  pointer-events: none;

  .content-frame {
    height: 100%;
    width: 100%;
    padding: 5px;
    position: relative;
    top: 20px;
    left: 20px;
  }
}

.region-svg {
  opacity: 0;
}

.meccg-regions {
  overflow: hidden;

  .region-path {
    opacity: 1;
    transition: stroke 0.2s;
    fill: transparent;

    &:hover {
    }
  }
}

.root:not(.journey-mode) .meccg-regions .region-path:hover {
  stroke: white;
}


.region-path, .mountain-svg {
  transition: all 0.2s;
}

.region-path[aria-label="1"] {
  fill: rgba(141, 141, 141, 0.9);
  //stroke: none!important;
}

$colorTurkise: #ffffff;

.region-path[aria-description="1"] {
  stroke: $colorTurkise !important;
}

body .site-object[aria-description="1"] .site-button {
  background-color: $colorTurkise !important;
  border: 12px solid $colorTurkise !important;
}

$colorTurkise2: #00ffc3;


body .site-object[aria-describedby="1"] .site-button {
  background-color: #4d4d4d;
  border: 10px solid #4d4d4d;
}

.journey-mode {
  .mountain-svg {
    fill: rgba(141, 141, 141, 0.9);
  }
}
