$colorBeigeDark: #4e4025;
$colorBeige: #deb56f;

.meccg-underdeeps-image {
  box-shadow: 0 0 0 5px black,
  0 0 0 8px rgba(0, 0, 0, 0.49);
  border-radius: 0.5px;
}

.leaflet-map-container {
  position: fixed;
  top: $headerHeight;
  right: 0;
  left: 0;
  bottom: $footerHeight;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .leaflet-map {
    background-image: url("../img/map/wood.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:before {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.9;
      position: absolute;
      background: linear-gradient(0deg, rgb(10, 3, 0) 0%, rgb(24, 7, 0) 100%);
    }

    .leaflet-bottom {
      display: none;
    }
  }
}


// REGION-LABEL
svg.svg-layer-region-labels {

  foreignObject.region-label {
    pointer-events: none;

    .region-title-object {
      height: 100%;
      width: 100%;
      font-size: 100px;
      text-align: center;

      .title {
        width: 100%;
        height: 120px;
        font-family: "Alice", serif;
        display: inline-block;
        font-weight: 500;
        color: $colorBeige;
        white-space: nowrap;
        text-shadow: -8px 0 0px $colorBeigeDark,
        0 8px 0px $colorBeigeDark,
        8px 0 0px $colorBeigeDark,
        0 -8px 0px $colorBeigeDark,
        -4px -4px $colorBeigeDark,
        -4px 4px $colorBeigeDark,
        4px -4px $colorBeigeDark,
        4px 4px $colorBeigeDark,
        0px 0px 50px #000;
      }

      .icon {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 5px solid white;
        background-color: white;
        border-radius: 50%;
      }
    }
  }
}


._surface {
  z-index: 500 !important;
}

.leaflet-map-pane svg {
  //z-index: auto!important;
}

.svg-layer-sites {
  pointer-events: none !important;
}

// SITE-LABEL
foreignObject.site-object {
  pointer-events: none;

  .content-frame {
    height: 100%;
    padding: 40px;
    width: 100%;
    font-size: 10px;
  }
}

.region-svg {
  opacity: 0;
  display: none;
}

.leaflet-tile-pane {
  display: none;
}


.leaflet-map-container:not(._undergorund-mode) ._surface {
  @extend .fade-in;
}

.leaflet-map-container._undergorund-mode ._surface {
  @extend .fade-out;
  display: none;
}

.svg-layer {
  overflow: hidden;

  rect {
    display: none;
  }

  circle {
    display: none;
  }

  .region-path, .mountain-svg {
    transition: all 0.2s;
  }

  .region-path {
    opacity: 1;
    fill: transparent;
    stroke: #492045;
    transition: all 0.2s;

    &[aria-label="1"] {
      fill: rgba(141, 141, 141, 0.9);
    }

    &[aria-description="1"] {
      stroke: white !important;
      stroke-width: 1.1em!important;
      box-shadow: 0px 0px 100px black;
      fill: rgba(255, 255, 255, 0.2);
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    }

    &[aria-description="2"] {
      stroke: white !important;
      stroke-width: 1.2em!important;
    }
  }
}

@media (hover: hover) {
  .root-container:not(.journey-mode) .svg-layer .region-path:hover {
    stroke-width: 0.6em;
    stroke: white;
  }
}

.journey-mode {
  .mountain-svg {
    fill: rgba(141, 141, 141, 0.9);
  }
}

.svg-layer-underdeeps {
  pointer-events: none;

  rect {
    display: none;
  }

  circle {
    display: none;
  }

  g[stroke-linecap="round"] {
    display: none;

    &[aria-description="1"] {
      display: block;
    }
  }

  #any-ancient-deep-hold {
    display: none;

    &[aria-description="1"] {
      display: block;
    }
  }
}

.svg-layer-underdeep-numbers {

  .under-deep-number-foreign-object {
    display: none;

    &[aria-description="1"] {
      display: block;
    }

    .under-deep-number {
      padding: 20px;
      font-family: "Open Sans", sans-serif;

      .under-deep-circle-1 {
        border: 10px solid #281226;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 30px 0 $colorBlackish;

        .under-deep-circle-2 {
          width: 100%;
          height: 100%;
          border: 4px solid #b6b5b5;
          border-radius: 50%;
          padding-top: 2px;
          background: linear-gradient(0deg, #a8a194 0%, #cbbbb6 50%, #938783 100%);

          .text-content {
            padding-top: 20px;
            font-size: 55px;
            font-weight: 800;
            margin-top: -30px;
            color: #333333;
            text-align: center;
          }
        }
      }
    }
  }
}
