$colorBeigeDark: #4e4025;
$colorBeige: #deb56f;

.meccg-border {
  box-shadow: 0 0 0 5px black,
  0 0 0 8px rgba(164, 74, 151, 0.49),
  0 0 0 15px black;
  border-radius: 0.5px;
}

.map-image-layer {
  box-shadow: 0 0 0 5px black,
  0 0 0 8px rgba(164, 74, 151, 0.49),
  0 0 0 15px black;
  border-radius: 0.5px;
}

.leaflet-map-container {
  position: fixed;
  top: $headerHeight;
  right: 0;
  left: 0;
  bottom: $footerHeight;
  background-size: cover;
  background-position: center;
  overflow: hidden;


  .leaflet-map {
    background-image: url("../img/map/wood.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:before {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.9;
      position: absolute;
      background: linear-gradient(0deg, rgb(10, 3, 0) 0%, rgb(24, 7, 0) 100%);
    }

    .leaflet-bottom {
      display: none;
    }
  }
}

// REGION-LABEL
foreignObject.region-label {
  pointer-events: none;

  .region-title-object {
    height: 100%;
    width: 100%;
    font-size: 100px;
    text-align: center;

    .title {
      width: 100%;
      height: 120px;
      font-family: "Alice", serif;
      display: inline-block;
      font-weight: 500;
      color: $colorBeige;
      white-space: nowrap;
      text-shadow: -8px 0 0px $colorBeigeDark,
      0 8px 0px $colorBeigeDark,
      8px 0 0px $colorBeigeDark,
      0 -8px 0px $colorBeigeDark,
      -4px -4px $colorBeigeDark,
      -4px 4px $colorBeigeDark,
      4px -4px $colorBeigeDark,
      4px 4px $colorBeigeDark,
      0px 0px 50px #000;
    }

    .icon {
      display: inline-block;
      width: 100px;
      height: 100px;
      border: 5px solid white;
      background-color: white;
      border-radius: 50%;
    }
  }
}

// SITE-LABEL
foreignObject.site-object {
  pointer-events: none;

  .content-frame {
    height: 100%;
    padding: 20px 0 0 30px;
    width: 100%;
  }
}

.region-svg {
  opacity: 0;
  display: none;
}

.leaflet-tile-pane {
  display: none;
}

.svg-layer {
  overflow: hidden;

  .region-path {
    opacity: 1;
    transition: stroke 0.2s;
    fill: transparent;
  }
}

@media (hover: hover) {
  .root-container:not(.journey-mode) .svg-layer .region-path:hover {
    stroke: white;
  }
}

.region-path, .mountain-svg {
  transition: all 0.2s;
}

.region-path[aria-label="1"] {
  fill: rgba(141, 141, 141, 0.9);
  //stroke: none!important;
}

$colorTurkise: #ffffff;

.region-path[aria-description="1"] {
  stroke: $colorTurkise !important;
}

body .site-object[aria-description="1"] .site-button {
  background-color: $colorTurkise !important;
  border: 12px solid $colorTurkise !important;
}

$colorTurkise2: #00ffc3;


body .site-object[aria-describedby="1"] .site-button {
  background-color: #4d4d4d;
  border: 10px solid #4d4d4d;
}

.journey-mode {
  .mountain-svg {
    fill: rgba(141, 141, 141, 0.9);
  }
}
